body {
    background-color: rgb(151, 163, 175);
}

.divSelectedNames {
    color: white;
    font-size: 1.3em;
    width: 90%;
    padding-left: 1em;;
    margin: 1em;   
}

.userList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.userListItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 2em;
    width: 250px;
    height: 400px;
    text-align: center;        
    background-color: rgb(212, 225, 228);
    box-shadow: 0 0 15px 5px darkslategrey;
    border-radius: 10px;   
}

 /* .userListItemTop {
    background-color: rgb(24, 107, 185);    
    width: 100%;
    height: 60px;
    position: relative;    
    border-radius: 10px;
 } 

 .userListItemTop::after{
    content: '';
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    background: inherit;
    transform:  skewY(8deg); 
    transform-origin: 0 100%; 
    overflow: hidden;   
 } */

.userListItem > img {
    width: 150px;
    height: 150px;
    border: slategrey 0.5px double;
    border-radius: 50%;
    /* margin: 2em 1em 1em 1em; */
    position: absolute;
    margin-top: 1.5em;
    /* transform: translate(-50%, -50%); */
}

.maleListItem {
    color: darkblue;
}

.femaleListItem {
    color: darkred;
}

/* .unknownGenderListItem {
    background-color: lightgray;
} */

.userFullName {
    margin-top: 170px;
    padding: 1em;
    font-size: 1.3em;
    font-weight: bold;
}

.userLocation {
    padding: 1em;
}

.userEmail {
    margin-top: auto;
    padding-bottom: 2em;
    font-size: 1.2em;
    width: 100%;
    position: relative;
    height: 1em;
    background-color: darkslateblue;
    color: black;
    opacity: 70%;
    border-radius: 10px;
}
.userEmail::before{
    z-index: -1;
    content: '';
    position: absolute;
    top: 0px;bottom: 0;left: 0;right: 0;
    background: inherit;

    transform: skewY(8deg);
    transform-origin: 100%;
}

.userListItemHighlight {    
    box-shadow: 0 0 15px 5px darkred;    
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.buttonContainer > button {
    margin: 1em;
    padding: 1em;
    background-color: slategrey;
    border-radius: 0.5em;
}

.buttonContainer > input {
    margin: 1em;
    padding: 1em 0;
    background-color: slategrey;
    border-radius: 0.5em;
}

